<div>
  <mat-toolbar class="app-header">MyRemoteTeam</mat-toolbar>

  <mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
      <mat-list>
        <mat-list-item
          class="nav-item"
          routerLink="/customers"
          routerLinkActive="active"
        >
          Customers
        </mat-list-item>
        <mat-list-item
          class="nav-item"
          routerLink="/orders"
          routerLinkActive="active"
        >
          Orders
        </mat-list-item>
       </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- <mat-toolbar class="app-footer">Footer</mat-toolbar> -->
</div>
